.logo{
   background-color: bisque;
   text-transform: capitalize;
   border-radius: 50%;
   border:2.5rem double grey;
   width:2rem;
   height: 2rem;
   padding: 2.5rem;
}

.b{
    
  
    background-color: rgb(0, 0, 0);
   border-radius: 1rem;
    overflow: hidden;
  
}


.b a{
   font-size: large;
    text-transform: capitalize;
float: right;
  
color: azure;
text-decoration: none;
padding: 10px 10px;

}


a:visited{
    
    color: whitesmoke;
}

h1{
    text-align: center;
}

.left{
    background-color: bisque;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    width: 330px;
    height: 200px;
   border: 2.5rem double grey;
   
  

}

.box{
    display:flex;
    flex-direction: row;
    gap:80px;
    justify-content: center;
}

.right{
    background-color: bisque;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    width: 330px;
    height: 200px;
   border: 2.5rem double grey;
  
}
.p{
  width:50%;
   text-align:center;
   margin-left:25%;
}

body{
    background-image: url(),radial-gradient(#fff ,rgb(121, 121, 120))
    
}
