
body{
    background-image:radial-gradient(rebeccapurple , dodgerblue );
    background-repeat:repeat;
    background-position: center;
     
}


main{
    
    padding: 8px;
}

.logo{
    display: flex;
    align-items: center;
    font-weight: bolder;
     text-transform: capitalize;
   background-color:rgb(58, 54, 54);
   color: whitesmoke;
   border: 2.5px double grey;
   border-radius: 50%;
   
   width:2rem;
   height: 2rem;
   padding: 2rem;
}

.menu{
    font-size: larger;
    display: flex;
    flex-direction: row;
    color: whitesmoke;
    background-color: black;
    padding: 1rem;
    border-radius: 1rem;
    list-style: none;
}


 h1{
    text-align: center;
}

.body{
    font-weight: bold;
    font-size: large;
    font-style: italic;
}

.log{
    margin-left: auto;
}

li{
    margin:0 10px ;
}


.imgcontainer{
    display: flex;
    justify-content: space-around;
    
    
}

@media screen and (max-width:700px) {

    .body{
        padding: 2rem;
    }
     .menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        
     }

     .log{
        margin: auto;
     }

    li{
        border: 2px solid whitesmoke;
        border-radius:1rem ;
        width: 100%;
        text-align: center;
    }

    .imgcontainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

    @media screen  and (max-width:950px) and (min-width:700px){
        
        body{
            background-image:radial-gradient(rgb(142, 69, 69) , rgb(89, 210, 204));
         }
        .imgcontainer{
            display: flex;
            flex-flow:row wrap;
            
        }
    }

    @media screen  and (max-width:1200px) and (min-width:950px){
        
        body{
            background-image:radial-gradient(rgb(94, 93, 93) , whitesmoke);
            background-repeat: no-repeat;
         }

        .imgcontainer{
            display: flex;
            flex-flow:row wrap;
        }
    }