
body{
   
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    font-size: larger;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    background: radial-gradient(aqua,grey);
    /* width: 53rem;
    height: 53rem; */
   border: 5px double gray;
   padding: 10rem;
   margin-top: 25%;
}





